* {
    box-sizing: border-box;
}



body{
    padding: 0;
    margin: 0;
    font-family: "roboto",  sans-serif;
    line-height: 1.5;
    font-family: "Roboto", Arial, sans-serif;
    letter-spacing: 0.5px,
}

*:focus{
    outline-color: #f38f38 ;
}

/* COntainer */

.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}


/*-----------------------------------------------site header--------------------------------------- */
.site-header{
    padding-top: 16px;
    padding-bottom: 16px ;
    border-top:5px solid #FF7500;
    list-style: none;
    background-color: #fff;
}

.site-header-container {
    display: flex;
    justify-content:;
    align-items: center;
}

.logo-link{
    transition: opacity 0.4s ease;
    display: block;
}

.logo-link img {
    display: block;
}

.logo-link:hover{
    opacity: 0.8;
}

.logo-link:active{
    opacity: 0.6;
}

header{
    border-top: 5px solid #FF7500;
    list-style: none;

}


.site-header-actions{
    display: flex;
    align-items: center;
}

.sitenav-list{
    padding: 4px;
    text-decoration: none;
    list-style: none;
    line-height: 15.23px;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
}
.orange-line{
    border: none;
    width: 80px;
    height: 3px;
    background-color: #FF7500;
    margin: 0;
    margin-bottom: 40px;
    
}

.sitenav-item{
    list-style: none;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition:all 0.3s;
    margin-right: 32px;
}

.sitenav-item:hover{
    color: #FF7500;
}

.sitenav-item:active{
    color: #FF7500;
    opacity:0.6
}

/*----------------------------------------------------- HERO -----------------------------------------*/

.hero{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #252420;
    color: #fff;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orange-link{
    display: inline-block;
   padding: 12px 24px;
    line-height: 15px;
    font-size: 13px;
    line-height: 15px;
    background-color: #FF7500;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.4s ease;
    border: 5px,  #FF7500, solid;
    border-radius: 4px;
    font-weight: bold;

}

.orange-link:hover{
    opacity: 0.8;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 26px;
    padding-right: 26px;
}

.orange-link:active{
    opacity: 0.6;
}


.h2-heading{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 40px;
    width: 390px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 24px;
}

.hero-text{
    margin-top: 0;
    margin-bottom: 32px;
    width: 387px;
    font-size: 16px;
    line-height:1.5 ;
    letter-spacing: 1.5;

}

.hero-img{
    width: 510px;
    height: 510px;
    border-radius: 9px;
    box-shadow: 24px 24px rgba(255, 117, 0, 0.6);

}

/* ------------------------------------------------FEATURE----------------------------------------- */

.features{
    padding-top: 210px;
    padding-bottom: 210px;
    font-weight: 400;
    font-size: 16px; 
    line-height: 24px;
    letter-spacing: 0.5px;
}


.features-list{
    margin: 0;
    display: flex;
    list-style: none;
    padding-left: 0;
    
}

.features-item:last-child {
    margin-right: 0;
}

.features-item{
    width: 314px;
    margin-right: 40px;
}



.features-heading{
    font-weight: 700;
    width:440px ;
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 72px;

}

.feature-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(255, 117, 0, 0.2)
}

.feature-title{
    margin-top: 0;
    margin-bottom: 12px;
    font-family: "roboto condensed", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

.feature-text {
    width: 314;
    margin-top: 0;
    margin-bottom: 12px;
}

/* -------------------------------------------------------SALE--------------------------------------- */

.promo{
    padding-top: 140px;
    padding-bottom: 160px;
}

.promo-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    border-radius: 12px;
    color: #fff;
    background-color: #252420;
}

.promo-content {
    width: 440px; 
}

 .h2-heading{
    margin-top: 0;
    margin-bottom: 24px;
 }
.sale-img {
    border-radius: 12px;
}

strong{
    color: #FF7500;
}

.promo-text {
    margin-top: 0;
    margin-bottom: 12px;
}

/* .promo-text:last-child {
    margin-bottom: 0;
} */

/* --------------------------------------------------footer----------------------------------------- */

.site-footer {
    padding-top: 56px;
    padding-bottom: 56px;
}


.footer{
    padding: 0;
    text-decoration: none;
    list-style: none;
}


.site-footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    width: 224PX;
    text-decoration: none;
    list-style: none;
    color: #000;
    transition: all 0.4s;
    padding: 0;
    margin: 0;
    margin-right: 68px;
}

.footer-links:hover{
    color: #FF7500;
}

.footer-links:active{
    opacity: 0.8;
}

.footer-line{
    margin-top: 40px;
    margin-bottom: 64px;
    width:1100px;
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5)

}

.site-visit{
    padding: 10px;
    display: flex;
    list-style: none;
    align-items: center;
    transition: all 0.4s;
}

.site-visit li {
    margin-right: 16px;
}

.site-visit a {
    display: block;
}

.site-visit svg {
    display: block;
}

.site-visit li:last-child{
    margin: 0;
}
.current-color{
    margin-right: 5px;
    color: black;
    transition: all 0.5s;
    justify-content: space-between;
}

.current-color:hover{
    color: #FF7500;
}

.curent-color:active{
    opacity: 0.8;
}
