
                /* SITE HEADER */

header{
    border-top: 5px solid orange
    ;
}

                /* SITE NAV */

.nav-link {
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.orange-line {
    width: 80px;
    height: 3px;
    background-color: #ff7500;
}

                    /* SITE HERO */

.b-name{
    font-size: 40px;   
    line-height: 1.2;
    letter-spacing: 0.5;
}

.reg-link{
    font-size: 13px;
    line-height: 15px;
    color: white;
    background-color: #ff7500;
    text-decoration: none;   
}


.hero-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5;
}
.hero-content{
width: 390px; ;
}
.hero{
    background-color:#252420 ;
    color: azure;
    width: 1440px;
}

  /* SITE FEATURES */

.feature-title{
width: 440px;
    font-size: 72px;  
    line-height: 1.2;
}
.feature-title-1{
    font-size: 24px ;
    line-height: 1.2;
    letter-spacing: 0.5px;
}
.features-text3{
    width: 340px;
}
    
.feature-icon-wraper{
    width: 100px;
    height: 100px;
    background-color: rgba(255,117,0,0.2);
}
    /* SITE PROMO */

.promo{
    background-color:#252420 ;
    color: white;
    width: 1440px;    
}

.promo-content{
    width: 440px;

}
.promo-heading{
  font-style: 40px;
  line-height: 48px ;  
}

.promo-text{
    font-size: 16px;
    line-height: 1.6;
}

.promo-hightlight{
    color: #ff7500;

}

.promo-img{
    width: 440px;
    height: 440px;
    object-fit: cover;
}

                    /* SITE FOOTER */

.site-footer{
    background-color: #f8f8f8;

}
.footer-line{
    background-color:rgba(37, 36, 32, 0.5) ;
    width: 1100px;
    height: 2px;
}

.site-footer-link-list{
    width: 224px;
}

.site-footer-link-list a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #252420 ;
}